/*-- Youtube Mods --*/

#ad_creative_1 {
	display: none;
}

#video-masthead {
	display: none;
}

#homepage-side-content {
	display: none;
}

#homepage-masthead-btn {
	display: none;
}

.top-videos-module {
	display: none;
}

#user-navbar-sections li {
	width: 460px;
}

#user-navbar-sections {
	margin-top: 0px !important;
	padding-bottom: 3px !important;
	padding-top: 0px !important;
}

#watch-sidebar {
	display: none;
}

#video-sidebar {
	display: none;
}

#search-pva-content {
	display: none;
}

.audio_only_button {
	margin: 0 2px 0 3px !important;
}

.audio_only_text {
	width: 100%;
	height: 495px;
	margin: 0px;
	position: absolute;
	font-size: 50px;
	font-family: 'helvetica neue';
	font-weight: 400;
	text-align: center;
	color: #fff;
	text-shadow: 0 -1px 2px #000;
	line-height: 510px;
	background: #555555; /* Old browsers */
	background: -moz-linear-gradient(top, #555555 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555555 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #555555 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #555555 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}


#watch-video-container.hidden {
	visibility: hidden;
	position: absolute;
}

#loop {
	margin-right: 5px !important;
}

#feed {
	margin-right: 0px !important;
	width: 960px !important;
}

#feed .feed-container {
	margin-right: 190px;
	background-color: #fff;
}

.feed-item h3 {
	width: 96%;
	display: inline-block;
	padding-right: 10px;
}

.feed-header {
	border-top-right-radius: 5px;
	width: 754px;
}

#watch7-sidebar {
	display: none;
}

#rc {
	display: none;
}

#feed-pyv-container {
	display: none;
}

.compact-shelf.yt-uix-shelfslider {
	display: none;
}

/*-- Dribbble Mods --*/

body#shots .tabs {
	display: none;
}

.body_replacement {
	font-family: 'helvetica neue';
	font-size: 40px;
	color: #444;
	font-weight: 400;
	text-align: center;
	margin: 40px 0px;
}

#verses {
	width: 810px;
	margin: 0 auto;
	color: #888;
	font-family: 'helvetica neue';
	line-height: 19px;
	font-size: 13px;
	text-align: center;
}

#verses p {
	margin: 20px 0px;
}

#verses p:first-child {
	margin-top: 0px;
}

.ad-top-wrap {
	display: none;
}

.ad {
	display: none;
}

#screenshot-341518 {
	visibility: hidden;
}

/*-- Rdio Mods --*/
#top_album_grid {
display: none;
}

.activity_stream {
display: none;
}

/*-- Twitter Mods --*/

div.trends {
	display: none;
}

/*-- Dropmark Mods --*/

#items .item.uploading .status {
	display: none !important;
}

/*-- Amazon Mods --*/

#gwcswB {
	visibility: hidden;
}

/*-- CURE Mods --*/

.player-1381514151931 {
	display: none; /*-- for the CURE U video --*/
}

.vidbox-a:nth-child(2tr) {
	display: none;
}

/*-- StickerMule Mods --*/
#masthead-content {
	display: none;
}

/*-- eBible Mods --*/

#reading h1 {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
}

#reading h2 {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#reading p {
	margin: 1.9em !important;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	color: #444;
	line-height: 1.7em !important;
}

#left-sidebar {
	display: none;
}

#sidebar p {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#sidebar p .serif {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#sidebar-buttons-wrapper {
	right: 150px;
}

#sidebar-buttons-wrapper.explain {
	right: 355px;
}

section#right-sidebar {
	right: 30px;
}

#sidebar-content {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#right-sidebar .explain.open #explain-container {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#questions-sidebar {
	display: none;
}

/*#sidebar-buttons-wrapper {
	display: none;
}*/

#bible-footer-ad {
	display: none;
}

/*-- Dark Mode --*/
html[itemtype="http://schema.org/Article"] body.dark-mode {
	background-color: #2f353e;
}

.dark-mode #reading h1 {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	color: rgba(255,255,255, .75);
}

.dark-mode #reading h2 a {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	color: #DAA65A;
}

.dark-mode #reading p {
	margin: 1.9em !important;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	color: rgba(255,255,255, .75);
	line-height: 1.7em !important;
}

.dark-mode .bible-pagination {
	opacity: .3;
}

.dark-mode .bible-pagination a:hover {
	background: rgba(0,0,0, .3);
}

.dark-mode #sidebar-buttons.explain #hide-sidebar {
	font-size: 22px;
	padding: 1px 9px 4px !important;
}

.dark-mode div.fixable.standard.fixed {
	top: 89px;
}

/*-- CodePen Mods --*/
.ad {
	display: none;
}

/*-- Social Cam Mods --*/

#bg_img_large {
	display: none;
	border: 10px solid blue;
}

#nfeed_right {
	display: none;
}

#xhrrelatedblock1, #xhrrelatedblock2 {
	visibility: hidden;
}

/*-- Unsplash Mods --*/

#post_60731076930 {
	display: none;
}

/*-- Forrst Mods --*/

.promoted-post,
.promoted,
#post162879 {
	display: none;
}

/*-- Lost Type Co-op Mods --*/

a[href="http://www.losttype.com/font/?name=habana"] {
	display: none;
}
